---
import { currencyFormat } from '../../functions/formatters/currencyFormat';
import { roundSignificant } from '../../functions/rules/rounding';
const response = await fetch('https://api.mercadolibre.com/sites/MLA/search?q=480&category=MLA1672&power_seller=yes&BRAND=16360,9593,18623&HARD_DRIVE_AND_SSD_FORM_FACTOR=9049266&sort=price_asc&limit=1'),
  data = await response.json(),
  item = {
    descripcion: data.results[0].title,
    precio: currencyFormat.format(roundSignificant(data.results[0].price * 1.1)),
    link: data.results[0].permalink,
    foto: data.results[0].thumbnail,
  };
---

<style>
  img {
    max-height: 100px;
  }
</style>
<tr>
  <th scope="row">{item.descripcion}</th>
  <td><img src=`${item.foto}` alt=`${item.descripcion}` /></td>
  <td>{item.precio}</td>
</tr>
