---
import Nav from './Nav.astro';
---
<style>
  div {
    padding-bottom: 20px;
    background-color: darkslateblue;
    }
</style>
<div>
  <Nav />
  <header class='container'>
    <hgroup>
      <h1>Sudestec</h1>
      <small>Servicios <code>Informáticos</code></small>
    </hgroup>
  </header>
</div>
