---
---

<section>
  <h1>Iniciar Sesión</h1>
  <form method="POST">
    <label>
      Email:
      <input type="text" name="identity" required />
    </label>
    <label>
      Contraseña:
      <input type="password" name="password" required />
    </label>
    <button>Ingresar</button>
  </form>
</section>
