---
import Logo from './Logo.astro';
---
<style>
  nav {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
  }
  nav > img {
    flex: auto;
    justify-content: left;
  }
  nav > a {
    flex: auto;
    justify-content: right;
  }

</style>
<nav>
  <Logo />
  <h1>Sudestec</h1>
  
</nav>
