---
import Logo from './Logo.astro';
---

<nav class='container-fluid'>
  <ul>
    <li>
      <Logo />
    </li>
  </ul>
  <ul>
    <li>
      <a href='#'>Servicios</a>
    </li>
    <li>
      <a href='#'>About</a>
    </li>
  </ul>
</nav>
