---
import Logo from './Logo.astro';
---

<nav class='container-fluid'>
  <ul>
    <li>
      <a href="/"><Logo /></a>
    </li>
  </ul>
  <ul>
    <li>
      <a href='/servicios'>Servicios</a>
    </li>
    <li>
      <a href='/ingreso'>Ingreso</a>
    </li>
    <li>
      <a href='#'>Institucional</a>
    </li>
  </ul>
</nav>
