---
import Logo from './Logo.astro'
---

<style>
	nav {
    display: flex;
    align-items: center;
		border-bottom: 1px solid black;
    padding-bottom: .5em;
  	}
	nav > a {
    display: flex;
    flex: auto;
    justify-content: right;
	}
</style>
<nav>
	<Logo />
	<a href="#">About</a>
</nav>
