---
import { currencyFormat } from '../../functions/formatters/currencyFormat';
import { roundSignificant } from '../../functions/rules/rounding';

const response = await fetch('https://api.mercadolibre.com/sites/MLA/search?shipping_cost=free&category=MLA430916&power_seller=yes&sort=price_asc&limit=1&POWER_OUTPUT=(*-600W)'),
  data = await response.json(),
  item = {
    descripcion: data.results[0].title,
    precio: currencyFormat.format(roundSignificant(data.results[0].price * 1.1)),
    link: data.results[0].permalink,
    foto: data.results[0].thumbnail,
  };
---

<article>
  <h5>{item.descripcion}</h5>
  <img src=`${item.foto}` alt=`${item.descripcion}` />
  <small>{item.precio}</small>
</article>
