---
import DiskAvailable from './DiskAvailable.astro';
import FamilyPrice from './FamilyPrice.astro';
import PsuAvailable from './PsuAvailable.astro';
import WeeklyPrice from './WeeklyPrice.astro';
---

<section>
  <div class='grid'>
    <WeeklyPrice />
    <FamilyPrice />
  </div>
  <h3>Repuestos</h3>
  <table>
    <thead>
      <tr>
        <th scope="col">Parte</th>
        <th scope="col">Foto</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <DiskAvailable />
      <PsuAvailable />
    </tbody>
  </table>
</section>
