---
import DiskAvailable from './DiskAvailable.astro';
import FamilyPrice from './FamilyPrice.astro';
import PsuAvailable from './PsuAvailable.astro';
import WeeklyPrice from './WeeklyPrice.astro';
---

<section>
  <h2>Servicios</h2>
  <div class='grid'>
    <article>
      <header>
        <hgroup>
          <h2>Classic</h2>
          <h3>Primer servicio integral.</h3>
        </hgroup>
      </header>
      <p>Restaura tu PC a su potencial original y recibí asesoramiento sobre tu equipo sin costo adicional.</p>
    </article>
    <article>
      <header>
        <hgroup>
          <h2>PYMES</h2>
          <h3>Agenda una consulta gratuita con un profesional.</h3>
        </hgroup>
      </header>
      <p>Soluciones de almacenamiento en nube privada. Sin dependencias de terceros.</p>
    </article>
  </div>
  <div class='grid'>
    <WeeklyPrice />
    <FamilyPrice />
  </div>
  <h3>Repuestos</h3>
  <div class='grid'>
    <DiskAvailable />
    <PsuAvailable />
  </div>
</section>
