---
import { currencyFormat } from '../../functions/formatters/currencyFormat' ;

	const response = await fetch(`${import.meta.env.APP_URL}/weekly`),
	data = await response.json(),
	displayCost = currencyFormat.format(data.cost);
---

<span>
	{ displayCost }
</span>
